:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#hero .background-overlay,
#hero .section-adornments-group,
#hero .section-content-group {
  pointer-events: none;
}

@media (max-width: 959px) {
  #hero .background-overlay.hasAngels .transform-wrapper {
    opacity: 0;
  }

  #hero .section-content-group {
    opacity: 0;
  }
}

#hero .background-overlay.hasAngels .transform-wrapper {
  transform: translate3D(-40%, var(--translate-y), 0) rotateZ(0) !important;
}

@media (min-width: 1280px) {
  #hero .background-overlay.hasAngels .transform-wrapper {
    opacity: 1;
    transform: translate3D(-30%, var(--translate-y), 0) rotateZ(0) !important;
  }
}

@media (min-width: 1366px) {
  #hero .background-overlay.hasAngels .transform-wrapper {
    opacity: 1;
    transform: translate3D(-25%, var(--translate-y), 0) rotateZ(0) !important;
  }
}

@media (min-width: 1600px) {
  #hero .background-overlay.hasAngels .transform-wrapper {
    opacity: 1;
    transform: translate3D(-20%, var(--translate-y), 0) rotateZ(0) !important;
  }
}

:root {
  --marker-yellow: #c47c29;
  --marker-red: #7b2f3e;
  --marker-blue: #003b71;
  --marker-green: #03808b;
  --marker-gray: #97989a;
}

#locations_map {
  height: 100%;
  width: 100%;
  min-width: 800px;
  min-height: 450px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.filter-item .material-symbols-sharp {
  color: red;
  font-size: 42px;
}

.filter-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 1rem;
  padding-right: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.69rem;
  user-select: none;
}

.filter-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.filter-item.reset {
  padding: 0 1rem;
}

.filter-item.active {
  color: white;
}

.filter-item[data-type="full_service_itm"].active::before {
  background-color: var(--marker-yellow);
}

.filter-item[data-type="full_service_branch"].active::before {
  background-color: var(--marker-red);
}

.filter-item[data-type="atm_only"].active::before {
  background-color: var(--marker-blue);
}

.filter-item[data-type="coming_soon"].active::before {
  background-color: var(--marker-green);
}

.filter-item[data-type="safe_deposit_box"].active::before {
  background-color: var(--marker-gray);
}

@media (max-width: 959px) {
  .filter-item {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 480px) {
  .filter-item {
    width: calc(100% - 2rem);
  }
}

.filter-item .icon {
  position: relative;
  margin-right: 1rem;
  z-index: 10;
}

.filter-item,
.filter-item .icon img {
  transition: all 0.3s ease-in-out;
}

.filter-item:not(.active):hover {
  color: #777;
}

.filter-item:not(.active):hover .icon img {
  filter: brightness(1.2);
}

.filter-item .icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16rem;
  height: 16rem;
  transform: translate(-12rem, -55%);
  border-radius: 50%;
  background-color: #eeeeee;
  z-index: 1;
}

@media (min-width: 1280px) {
  .filter-item .icon::before {
    transform: translate(-12.5rem, -55%);
  }
}

@media (min-width: 1600px) {
  .filter-item .icon::before {
    transform: translate(-13rem, -55%);
  }
}

.filter-item .icon img {
  position: relative;
  display: block;
  width: 30px;
  z-index: 10;
}

.locations-list {
  columns: 2;
  padding: 0;
}

.locations-list .location {
  display: inline-grid;
  grid-template-columns: 64px auto;
  width: 100%;
  margin: 1rem;
  cursor: pointer;
  user-select: none;
}

.locations-list .location:hover {
  filter: brightness(1.2);
}

.locations-list .location .additional-meta-drawer {
  grid-column: span 2;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.locations-list .location .additional-meta-drawer.open {
  max-height: 500px;
}

.locations-list .location .additional-meta-drawer .meta-drawer-links {
  display: flex;
  justify-content: space-between;
  width: 69%;
}

@media (max-width: 959px) {
  .locations-list {
    columns: 1;
  }
}

@media (min-width: 1366px) {
  .locations-list {
    columns: 3;
  }
}

.locations-list .location .icon {
  position: relative;
  display: block;
  width: 64px;
  height: 64px;
  margin-right: 1rem;
}

.locations-list .location .icon img {
  position: absolute;
  --bottom-step: 6px;
  --left-step: 12px;
}

.locations-list .location .icon img:nth-child(1) {
  bottom: calc(var(--bottom-step) * 0);
  left: calc(var(--left-step) * 0);
  z-index: 10;
}

.locations-list .location .icon img:nth-child(2) {
  bottom: calc(var(--bottom-step) * 1);
  left: calc(var(--left-step) * 1);
  z-index: 9;
}

.locations-list .location .icon img:nth-child(3) {
  bottom: calc(var(--bottom-step) * 2);
  left: calc(var(--left-step) * 2);
  z-index: 8;
}

.locations-list .location .content {
  flex: 1;
}

.locations-list .location .content h3,
.locations-list .location .content p {
  margin: 0;
}
